body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  display: grid;
  height: 100vh;
  grid-template: 100% / 1fr repeat(2, 45%);
}

/* Sidebar */

.sidebar-container {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 32px;
  border-right: 1px solid #3e3e3e
}

.sidebar-logo {
  height: auto;
  width: 100%;
}

.download-button, 
.reset-button, 
.save-button {
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  max-width: 50px;
}

.matterhorn-logo {
  max-width: 128px;
}
.github-logo {
  width: 50%;
  max-width: 48px;
}

.configEditor-container {
  grid-area: 1 / 2 / 1 / 2;
  border-right: 1px solid #3E3E3E;
  /* background-color: #7E7E7E; */
  padding: 20px;
  overflow: scroll;
}

.configEditor {
  font-size: 0.9rem;
}

.identifier:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.docExplorer-container {
  grid-area: 1 / 3 / 1 / 3;
  background-color: rgb(237, 237, 237);
  padding: 10px;
  overflow-x: scroll;
}

/* .search-input {
  width: 100%;
}

.search-list {
  max-height: 200px;
  position: relative;
  width: 100%;
  background: #fff;
}

.search-list-item:nth-child(n+1) {
  background-color: rgb(242, 242, 242);
}
.search-list-item:nth-child(2n+1) {
  background-color: rgb(255, 255, 255);
} */

.search-list {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  background: transparent;
}

.search-list__search {
  display: block;
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
  border: 1px solid #616b74;
  position: relative;
  z-index: 2;
  padding-left: 10px;
}

.search-list__search--placeholder {
  font-style: italic;
  font-weight: normal;
}

.search-list__select {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  overflow: auto;
  z-index: 3;
  min-height: 49px;
}

.search-list__select--display {
  display: block;
}

.search-list__options {
  margin: 0;
}

.search-list__option {
  font-size: 16px;
  font-weight: 400;
  color: #616b74;
  padding: 10px;
  margin: 0;
  border-top: 1px solid #eee;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.search-list__option:first-child {
  border-top: none;
}

.search-list__option--hover, .search-list__option:hover {
  background: #f4f7fa;
}

.search-list__option--selected {
  background: #54A0FF;
  color: #fff;
  border-top-color: #2184FF;
}

.search-list__option--selected:hover, .search-list__option--selected .search-list__option--hover {
  background: #2184FF;
  color: #fff;
  border-top-color: #2184FF;
}

.option-controller-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0.8125rem;
}

.option-controller-select {
  width: 50%;
}

.option-controller-button {
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
}
.add-button {
  background: rgb(40, 167, 69);
  border: 1px solid rgb(40, 167, 69);
}
.remove-button {
  background: rgb(220, 53, 69);
  border: 1px solid rgb(220, 53, 69);
}
.edit-button {
  background: rgb(0, 123, 255);
  border: 1px solid rgb(0, 123, 255);
}

.warning {
  color: rgb(220, 53, 69);
}